body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/images/wallpaper.jpg);
  background-repeat: no-repea;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  text-align: center;
}

body>h2 {
  font-size: 3rem;
  background-color: rgba(255, 217, 0, 0.657);
}

#grid {
  background: rgb(251, 145, 63);
  background: radial-gradient(circle, rgba(251, 145, 63, 1) 0%, rgba(252, 193, 70, 1) 100%);
}

#grid>img {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  display: inline;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.466);
  border-radius: 20px;
  margin: 0 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.517);
}